@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
	color: #0366d6;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.content {
	padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
	outline: 1px solid #26b050;
}

.invalid {
	outline: 1px solid red;
}

.validation-message {
	color: red;
}

#blazor-error-ui {
	background: lightyellow;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	padding: 0.6rem 1.25rem 0.7rem 1.25rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

	#blazor-error-ui .dismiss {
		cursor: pointer;
		position: absolute;
		right: 0.75rem;
		top: 0.5rem;
	}

.card-deck-special {
	max-width: 750px;
}

.card-special {
	background-color: orange;
	color: white;
}


.dialog-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2000;
	display: flex;
	animation: dialog-container-entry 0.2s;
}

@keyframes dialog-container-entry {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.dialog {
	background-color: white;
	box-shadow: 0 0 12px rgba(0,0,0,0.6);
	display: flex;
	flex-direction: column;
	z-index: 2000;
	align-self: center;
	margin: auto;
	width: 700px;
	max-height: calc(100% - 3rem);
	animation: dialog-entry 0.4s;
	animation-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

@keyframes dialog-entry {
	0% {
		transform: translateY(30px) scale(0.95);
	}

	100% {
		transform: translateX(0px) scale(1.0);
	}
}

.dialog-title {
	background-color: #444;
	color: #fff2cc;
	padding: 1.3rem 2rem;
}

	.dialog-title h2 {
		color: white;
		font-size: 1.4rem;
		margin: 0;
		font-family: 'Bahnschrift', Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		line-height: 1.3rem;
	}

.dialog-body {
	flex-grow: 1;
	padding: 10px;
	margin: 1rem
}

.dialog-buttons {
	height: 4rem;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	background-color: #eee;
	padding: 0 1rem;
}

.dialog-body > div {
	display: flex;
	margin-top: 1rem;
	align-items: center;
}

.dialog-body label {
	text-align: left;
	width: 60px;
	margin: 0 1.5rem;
}

.dialog-body input, .dialog-body select {
	flex-grow: 1;
	width: unset;
}

.dialog-body .size-label {
	min-width: 110px;
	text-align: right;
}

.dialog .toppings {
	text-align: center;
	display: block;
	padding-left: 4rem;
}

.dialog .topping {
	display: inline-block;
	background-color: #a04343;
	color: white;
	padding: 0.2rem 1rem;
	border-radius: 2rem;
	margin: 0.4rem 0.3rem;
	font-weight: 700;
}

.dialog .topping-price {
	font-weight: 100;
	font-size: 0.8rem;
}

	.dialog .topping-price::before {
		content: '£';
	}

.sidebar {
	background-color: #2b2b2b;
	width: 20rem;
	display: flex;
	flex-direction: column;
	color: white;
}
