@using TanzuTacos.WebApp.Models

<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
   @if (Order.Tacos.Any())
		{
		 <div class="order-contents">
		  <h2>Your order</h2>

				@foreach (var configuredTaco in Order.Tacos)
				{
			  <ConfiguredTacoItem Taco="configuredTaco" OnRemoved="@(() => RemoveConfiguredTaco(configuredTaco))" />
				}
		 </div>
		}
		else
		{
		 <div class="empty-cart">Choose a taco<br>to get started</div>
		}

	 <div class="order-total @(Order.Tacos.Any() ? "" : "hidden")">
	  Total:
	  <span class="total-price">@Order.GetFormattedTotalPrice()</span>
	  <button class="btn btn-warning" disabled="@(Order.Tacos.Count == 0)" @onclick="PlaceOrder">
	   Order >
	  </button>
	 </div>
  </div>
</nav>


@code {
	[Parameter] public Order Order { get; set; }

	void RemoveConfiguredTaco(Taco taco)
	{
		Order.Tacos.Remove(taco);
	}

	async Task PlaceOrder()
	{
		//await HttpClient.PostAsJsonAsync("orders", order);
		Console.WriteLine("Order placed!");
		Order = new Order();
	}
}